body {
  font-family: Arial, sans-serif;
  background-color: #fdf7ff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4d2c91;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #d8c4f3;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: #4d2c91;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 30px;
  text-align: center;
}

input {
  padding: 8px;
  margin-top: 10px;
}
.gallery
